.usepopcornApp{
  background-color: black;
  color: white;  
  min-height: 100vh; 
  font-family: Verdana;
  font-size: 12px;


}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

